* {
    font-family: sans-serif;
}

.container_div {
    opacity: 0.6;
}

.list-group li {
    color: #353535;
    font-size: 1.2rem;
    margin-top: 1rem;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.list-group input{
    width: 1.1rem;
    height: 1.1rem;
}
.container_btn {
    gap: 1rem;
    padding: 2rem;
}

div.modal_cosumer{
    margin-top: 6rem;
}
div.modal-header button{
    top: 0.5rem;
    width: 2rem;
    background-size: 2rem;
}
.container_btn button {

    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    color: white;
    border-radius: 100px;
    background-color: #F22539;
}
button.btn_fav {
    background-color: #BFBFBF;
}
button.btn_all:hover{
    background-color: rgba(252, 33, 33, 0.9);
}
button.btn_fav:hover {
    background-color: rgba(185, 185, 185, 1);
}
@media (min-width: 570px) {
    .container_btn button {

        width: 40%;
        align-items: center;
    }

}


li.list-group-item{
    color: #5E5E5E;
}

.modal-header img{
    position: relative;
    left: 30%;

}

.modal-header button{
    position: absolute;
    right: 0.1rem;
    top: 0.2rem;
}
button.btn-primary{
    
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    width: 2.9rem;
    height: 2.9rem;
}

button.btn-primary:hover{
    background-color: white;
    opacity: 0.6;
}
button.btn-secondary{
    background-color: #F22539;
}

.container_btn a {
    color: white;
    text-decoration: none;
}

