*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    

}

.body{

    width: 95vw;
    margin: 0px;

}

.container{
    text-align: center;
    justify-content: center;
}

.container a{
    text-decoration: none;
}
.row{

    align-items: center;
    justify-content: center;
}

.text{
    font-size: 0.8rem;
    margin-top: 1.5em;
    text-align: center;
    color: #5E5E5E;

}
.btn_danger a{
    color: white;
    text-decoration: none;}

@media (max-width: 992px){
    .row{
        padding-top: 12rem;
    }
    .img-container{
        width: 8rem;
        align-items: center;
        justify-content: center; 

    }
    .h3{
        font-weight: 800;
    }
    
    .text{
    margin-top: 2em;
    text-align: center;
    color: #5E5E5E;

}
    .welcome{     
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:990px){
    .row{

        align-items: center;
    }

    .img-container{
        align-items: center;
        justify-content: center;
    }
    
    
    .welcome{
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
    .h3{
        font-size: 3rem;
    }
    }
    .btn_danger a{
        color: white;
        text-decoration: none;
        font-size: 2rem;
    }

